uvicorn==0.23.2
aiofiles==23.2.1
aiohttp-socks==0.8.0
requests[socks]==2.31.0
aiosignal==1.3.1
anyio==3.7.1
APScheduler==3.10.1
asks==3.0.0
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
Brotli==1.0.9
bs4==0.0.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptg==0.4.0
exceptiongroup==1.1.3
frozenlist==1.4.0
googledrivedownloader==0.4
h11==0.14.0
idna==3.4
inflate64==0.3.1
#install==1.3.5
lxml==4.9.3
mega==1.0.8
mega.py==1.1.0
multidict==6.0.4
multivolumefile==0.2.3
mutagen==1.47.0
outcome==1.2.0
pathlib==1.0.1
ping3==4.0.6
prettytable==3.9.0
psutil==5.9.5
py7zr==0.20.7
pyaes==1.6.1
pyasn1==0.5.0
pybcj==1.0.1
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pymegatools==0.3.3
pyping==0.0.6
pyppmd==1.1.0
Pyrogram==2.0.106
PySocks==1.7.1
python-socks==2.4.3
python-telegram-bot==20.3
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pyzstd==0.15.9
requests==2.31.0
requests-toolbelt==1.0.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
tcping==0.1.1rc1
telebot==0.0.5
Telethon==1.33.3
tenacity==8.2.3
texttable==1.6.7
TgCrypto==1.2.5
tornado==6.3.3
trio==0.22.2
tzdata==2023.3
tzlocal==5.0.1
ujson==5.8.0
urllib3==2.0.7
user-agent==0.1.10
wcwidth==0.2.6
websockets==11.0.3
yarl==1.9.2
yt-dlp==2023.11.16
Flask==3.0.0
gunicorn==21.2.0
aiohttp==3.8.6
chardet==5.2.0